<footer class="px-6 xs:px-8 bg-gray-100 md:px-0">
  <div class="max-w-2xl mx-auto py-4 text-center sm:py-6">
    <p class="text-sm text-gray-400 *:text-gray-700 *:underline-offset-2 *:transition *:duration-200 *:hover:underline *:hover:text-gray-800">Coded by <a href="https://github.com/caroWD" target="_blank">caroWD</a> | Challenge by <a href="https://www.devchallenges.io/?ref=challenge" target="_blank">devChallenges.io</a></p>
  </div>
</footer>