<header class="px-6 xs:px-8 md:px-0">
  <div class="max-w-2xl mx-auto">
    <hgroup class="flex flex-col gap-3 py-16 text-center sm:py-20">
      <h1 class="text-3xl font-semibold leading-tight xs:text-4xl">Frequently Asked Questions</h1>
      <p>Browse through the most frequently asked questions</p>
    </hgroup>
  </div>
</header>